@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Oxanium, Arial, Helvetica, sans-serif;
}

.hero {
  background: rgba(0, 0, 0, 0.6);
  background-image: url("/images/hero-background.jpg");
  background-blend-mode: darken;
}
